$primary-bg: rgb(251, 251, 251);
$button-bg: #39cdcd;
$primary-text: #213f7d;
$secondary-text: #545f7d;
$pending: #e9b200;
$active: #39cd62;
$blacklisted: #e4033b;
$pagination-bg: rgba(33, 63, 125, 0.1);
